.dashboard {
    display: flex;
    flex-direction: column;
}

.dashboard > div {
    flex: 1;
    border: 1px dashed #EEE;
    margin: 20px;
}

.dashboard .requestSection {
    padding: 40px;
}

.dashboard .requestSection h1 {
    margin-bottom: 30px;
    font-size: 26px;
    align-self: flex-start;
}

.dashboard .requestSection form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dashboard .requestSection form > div {
    flex: 1;
}

.dashboard .requestSection form input {
    flex: 4;
    border: 1px solid #CCC;
    border-radius: 0;
    padding: 6px;
    font-family: inherit;
    transition: ease-in-out 100ms;
    border-right: 0;
}

.dashboard .requestSection form input:focus {
    border-color: #555;
}

.dashboard .requestSection form button {
    flex: 1;
    height: auto;
    border-radius: 0;
    border: 0;
    background-color: #334195;
    color: #FFF;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    transition: ease-in-out 100ms;
}

.dashboard .requestSection form button:hover {
    background-color: #32322C;
}

.dashboard .requestSection .selectComponent > div {
    border-radius: 0;
    border: 1px solid rgb(168, 168, 168);
}

.dashboard .optionsSection {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.dashboard .optionsSection > div {
    padding: 20px;
}

.dashboard .optionsSection > div:first-child {
    flex: 3;
}

.dashboard .optionsSection > div:nth-child(2) {
    flex: 1;
}

.dashboard .optionsSection div .protocoleInfo,
.dashboard .optionsSection div .responseInfo {
    text-align: center;
    font-style: italic;
    font-size: 12px;
}