.error {
    background-color: #931621;
    color: #FFF;
    align-self: stretch;
    padding: 2px 12px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.error p {
    font-size: 10px;
    font-weight: 700;
}

.error .timesSign {
    cursor: pointer;
}