.postData,
.getParams {
    display: flex;
    flex-direction: column;
}

.postData h2,
.getParams h2 {
    font-size: 18px;
    margin-top: 30px;
}

.postData > div,
.getParams > div {
    display: flex;
    flex-direction: column;
}

.postData > span,
.getParams > span {
    background-color: #157F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out 100ms;
    margin: 20px 0;
    padding: 6px;
}

.postData > span:hover,
.getParams > span:hover {
    background-color: #32322C;
}