.response {
    display: flex;
    flex-direction: column;
    width: 100%;    
}

.response h2 {
    font-size: 18px;
    margin-top: 30px;
}

.response code {
    font-size: 10px;
    color: #6E6E6A;
}